# Pastas de build do Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Evidências e relatórios locais (O que você quer esconder do Git)
evidencias/
allure-results/
allure-report/

# Arquivos de IDEs (IntelliJ / VS Code)
.idea/
*.iml
.vscode/

# Sistema Operacional
.DS_Store
Thumbs.db